#MainWindow {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                      stop: 0 #FDEFF9, stop: 1 #E6F7FF);
}
QDialog#LoginDialog, #RegisterDialog{
    background-color:transparent
}

#user_label, pass_label{
    color:black;
}

#err_tip[state='normal']{
    color: green;
}
#err_tip[state='err']{
    color: red;
}
